<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#"></a>
        <div class="d-flex">
            <a class="nav-link text-dark-emphasis mx-2" href="/">Home</a>
            <a class="nav-link text-dark-emphasis mx-2" href="/about">About</a>
            <a class="nav-link text-dark-emphasis mx-2" href="/profile">Users</a>
        </div>
    </div>
</nav>