<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#">blogStreet</a>
        <div class="d-flex">
            <a class="nav-link text-dark-emphasis mx-2" href="/">Home</a>
            <a class="nav-link text-dark-emphasis mx-2" href="/search">Search</a>
            <a class="nav-link text-dark-emphasis mx-2" href="/favourite">Favourite</a>
            <a class="nav-link text-dark-emphasis mx-2" href="/profile">Profile</a>
            <a class="nav-link text-danger-emphasis mx-2" href="/auth/logout">Logout</a>
        </div>
    </div>
</nav>