<div class="card container my-5">
    <div class="card-body">
        <!-- Title -->
        <h2 class="card-title text-dark">Article Title Goes Here</h2>

        <!-- Author and Date -->
        <div class="mb-2 text-muted small">
            <span>Written by <a href="#" class="text-primary">Author Name</a></span>
            <span class="mx-1">|</span>
            <span>Date: August 24, 2024</span>
        </div>

        <!-- Content -->
        <p class="card-text text-dark">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem beatae cumque cupiditate delectus deserunt dolorum explicabo fugiat impedit magni nisi placeat rem rerum, sed sequi soluta unde? Aperiam beatae impedit laudantium mollitia, nisi quaerat saepe vero! Ad aliquam animi at blanditiis, commodi culpa dolorem dolorum ea error et hic id incidunt itaque labore libero mollitia omnis, perferendis quibusdam quisquam quo reprehenderit tempore unde vero? Fugit libero, maxime natus odit omnis praesentium vero vitae. A aspernatur dolor error facere illo incidunt minima nemo nobis odit quaerat quas quidem, saepe sed totam ullam? Error itaque labore magnam nobis! Dolores, modi, provident.
        </p>

        <!-- Read More Button (Optional) -->
        <a href="#" class="btn btn-primary">Read More</a>
    </div>
</div>
