#For MongoDB Atlas
MONGO_URI=mongodb+srv://name:<db_password>@cluster-name.wxttgv4.mongodb.net/?retryWrites=true&w=majority&appName=cluster-name

#For Docker
#MONGO_URI=mongodb://host.docker.internal:27017/blogstreet

#For Localhost
#MONGO_URI=mongodb://localhost:27017/blogstreet
BCRYPT_SALT_ROUNDS=8
SECRET_KEY=secret_key
PORT=80